.header {
    background: #46b7c1;
    padding:6px;
}
.header b {
    background:#fff;
    color:red;
    padding:10px;
    font-size:20px;
}
.header marquee {
    font-size:20px;
    color:#ffffff;
    width:80%;
}